       <div class="clear"></div>
        <footer>
        	<hr>
        	CST 336 Internet Programming. 2020 &copy; Perez <br />
        	<strong>Disclaimer: </strong> The information in this webpage is fictitious. <br />
        	It is used for academic purposes only. <br>

        	
            
        </footer>
        
  
    </body>

</html>