<%- include('partials/header.ejs') %>

        <div id="wrapper">
    	<header>
    	<h1> What is Quantum Computer?</h1>
    	</header>
        <main>
        	
        	<figure id="me">
        		<img src="/img/dWave.jpg"  alt="Picture of quantum computer qubit">
        	</figure>
        	<div id="welcome">
        	    Who will make it first?<br />
        		<p><strong>Google, IBM and other startups are racing,</strong> all of them have in common the desire to create the next generation of supercomputers.</p>
        		
        		<p> Quantum computers <strong>when and if they get created</strong> will be of great help in solving many complex problems, such as modeling chemical processes that today seem unreachable.</p>
        		<p>Although, it could be possible to create them, they will not come easily. 
        		For there is no knowing what they will look like when they do arrive. For now companies and researchers are using many diferent methods to try and build said powerful computers</p>
        		<p></p>
        	
        </div>
        
        </main>
        
    <%- include('partials/footer.ejs') %>