<%- include('partials/header.ejs') %>
  
        <div id="wrapper">
    	<header>
    	<h1> Quantum Computing Revolution</h1>
    	
    	</header>
    	<h2>Can it be Done?</h2>
    	    <br /> <br />
        	
        	<figure id="me">
        		<img src="/img/quantum+computer.jpg"  alt="Picture of quantum computer">
        	</figure>
        	<div id="welcome">
        	    <div id="sidebar">
        	    Quantum Computer<br />
        		
        		<p>This is an overview of the new and revolutionary quantum computer. Somtehing that is going to change the way we look at computers</p>
        		
        		<p> Like the first digital computers, quantum computers offer the possibility of technology exponentially more powerful than current systems. 
        		They stand to change companies, entire industries, and the world by solving problems that seem impossible today.</p>
        		<p> A recent report by Gartner states that by 2023, 20% of organizations will be budgeting for quantum computing projects.
        		As this new technology develops, organizations will face a shortage of quantum computing experts.</p>
        		</div>
                <p>Quantum computing could change the world. It could transform medicine, break encryption and revolutionise communications and artificial intelligence. Companies like IBM, Microsoft and Google are racing to build reliable quantum computers. China has invested billions.

                Recently, Google claimed that it had achieved quantum supremacy – the first time a quantum computer has outperformed a traditional one. But what is quantum computing? And how does it work?</p>
        </div>
        
        
     <%- include('partials/footer.ejs') %>