<%- include('partials/header.ejs') %>

        <div id="wrapper">
    	<header>
    	<h1> Quantum Computing Revolution</h1>
    	</header>

        <h2>Services Offered by Quantum Computer</h2>
        <main>
        	
        	<figure id="me">
        		<img src="/img/QuantumC-img.jpg"  alt="Picture of quantum computer">
        	</figure>
        	<div id="welcome">
        	    Quantum Computer Future Services<br />
        		<p>When you consider what the financial industry wants and combine it with quantum computing’s phenomenal increase in the availability of processing capability for probabilistic algorithms, it’s a disruption made in heaven.</p>
        		
        		<p> Some analysts believe that the quantum tipping point has arrived and that within a decade, quantum computers will make today’s fastest supercomputer look like an abacus.
        		Optimisation is at the core of many financial problems. In portfolio optimisation, the problem exists in selecting the best assets to invest in to balance the risk with the expected returns.</p>
        		<p> Can offer a dual process in any given task: meaning that since this computer relies on the superposicion, it can perform tw tasks at once, while its RAM will not be as used as the actual computers do. </p>
        		
        	
        </div>
        
        </main>
        
        <%- include('partials/footer.ejs') %>
    