<%- include('partials/header.ejs') %>
      

        <div id="wrapper">
    	<header>
    	<h1> Quantum Computing Revolution</h1>
    	</header>
    	    <br /> <br />
        	
        	<figure id="me">
        		<img src="/img/IBM-research.jpg"  alt="Picture of research lab in IBM for Quantum Computer">
        	</figure>
        <div id="content">
        <table>
             <tr id ="table-header">
        	<td><strong>Hardware Components</strong></td>
        	<td><strong>Description</strong></td>
        </tr>
        <tr id ="table-row">
        	<td>Quantum Data Plane </td>
        	<td>"Heart" of the Quantun Computer</td>
        </tr>
        <tr class="table-row">
        	<td>Measurement Plane</td>
        	<td>Converts Digital Signals</td>
        </tr>
        <tr class="table-row">
        	<td>Qubit Technologies</td>
        	<td>Super conting, more analysis power</td>
        </tr>
        <tr class="table-row">
        	<td>Trapped Ion Qubits</td>
        	<td>Can be held in one place several at a time</td>
        </tr>
    </table>

</div>
        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
      <%- include('partials/footer.ejs') %>