body {
	background-color: black;
	color: gray;
	font-size: 13px;
}

header, main, nav, footer{
	text-align: center;
}

nav a {
	padding: 15px;
	padding-bottom: 4px;
	font-size: 1.8em;
	text-decoration: none;
	color: gray;
}
nav a:hover{
	border-bottom: 2px;
	font-size: 2em;
	transition: .9s;
}
nav a:active{
	background-color:pink;
	color:pink;
	border-bottom: 2px;
	font-size: 2em;
	transition: .9s;
}

nav a:link{
	color:#0e5615; /*darkgreen*/
	border-bottom: 2px;
	font-size: 2em;
	transition: .9s;
}
nav a:visited{
	background-color: pink;
	border-bottom: 2px;
	font-size: 2em;
	transition: .9s;
}
 #welcometext{
	float: left;
	text-align: left;
	
}

#me {
	float: left;
	size: 300px;
}

footer{
	font-family: "Gill Sans", "Gill Sans MT", "Myraid Pro", "DejaVu Sans Condensed", Arial, sans-serif;
	font-variant: normal;

	font-size: 0.9em;
	padding: 20px;
	text-align: right;
	text-decoration: underline;
	border-top: 1px solid #ffffff;
	background-color: #02ceb6;
	 
}

table {
margin: 0px auto;
border: 1px solid black;

}
td {
	padding-right: 10px;
	font-size: 1.3em;
	border: 1px solid black;
}

td strong{
	color: orange;
}

#table-header{
	background-color: #351a00;

	
}

.table-row{
	background-color: #753900;
	border: 1px solid black;
}

ul{
	text-align: left;
	padding-left: 200px;
}

.hobby{
	color: yellow;
}

h1{
	font-family: 'Pacifico', cursive;
	font-size: 4em;
	margin-bottom: 0px;
}
#wrapper{
	width: 1100 px;
	margin: 0 auto;
	background: #b6ff9e;
	border: 1px solid #fff;

}

.new1{
	border: 1px solid black;
	
}

.clear{
	clear: both;
}

#sidebar{
	float: right;
	width: 350px;
	padding: 15px 8px 8px 20px;
	margin: 20px;
	border: 1.5px solid #000;
	background-color: lightblue;	
}

